
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 183, 255);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.title {
  color: blue;
  margin: 0;
  position: relative;
  top: 15rem;
}

.btn {
  background-color: blue;
  border-radius: 5px;
  border: 1px solid;
  border-color: yellow;
  color: #fff;
  width: 9rem;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
