@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background-color: rebeccapurple; */
  background-image: url('images/weimaraner_bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 250, 0.5);
}

.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 20%;
  bottom: 20%;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-delay: 3s;
}

/* .toast.info {
  color: rebeccapurple;
}

.toast.success {
  color: green;
}

.toast.fail {
  color: red;
} */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
