@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  left: 0;
  background: url('./images/ripple.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 112, 214, 0.45);
}

button {
  background-color: purple;
  color: #fff;
  border: 1px orchid solid;
  /* border: none; */
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 40px 60px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.999);
}

button .circle {
  position: absolute;
  background-color: orchid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.75s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}
